@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakartaSans-Regular.ttf");
}
@font-face {
  font-family: "PlusJakartaSans-Medium";
  src: url("../assets/fonts/PlusJakartaSans-Medium.ttf");
}
@font-face {
  font-family: "PlusJakartaSans-Bold";
  src: url("../assets/fonts/PlusJakartaSans-Bold.ttf");
}

.x-large {
  font-size: 2.4rem;
  font-family: "PlusJakartaSans-Bold";
}

.large {
  font-size: 1.8rem;
  font-family: "PlusJakartaSans-Bold";
}

.medium {
  font-size: 1.5rem;
  font-family: "PlusJakartaSans-Bold";
}

.small {
  font-size: 1.5rem;
  font-family: "PlusJakartaSans";
}
