.transparent-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: 2;
  position: fixed;
}

.modal {
  background-color: var(--header-bg);
  z-index: 5;
  opacity: 1;
  position: absolute;
  top: 20%;
  width: 34.3rem;
  border-radius: 0.8rem;
  @include flex-column(start, start, 1.9rem);
  @extend .medium;
  left: 50%;
  transform: translate(-50%);
  padding: 2.4rem;
}

.add-button {
  width: 100%;
  border-radius: 2rem;
  background-color: var(--button-add);
  height: 4rem;
  color: $main-purple;
  border: none;
  @extend .medium;
  font-size: bold;
  cursor: pointer;
}

.create-button {
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 2rem;
  background: var(--button-create);
  color: $white;
  cursor: pointer;
  @extend .medium;
}

.input {
  width: 100%;
  height: 4rem;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  border: 0.1rem solid $medium-grey;
  background: none;
  color: var(--text-clr);
}
