$main-purple: #635fc7;
$main-purple-hover: #a8a4ff;
$black: #000112;
$very-dark-grey-dark: #20212c;
$dark-grey: #2b2c37;
$line-dark: #3e3f4e;
$medium-grey: #828fa3;
$line-light: #e4ebfa;
$light-grey-light-bg: #f4f7fd;
$white: #ffffff;
$white-bg: #ffffff;
$red: #ea5555;
$red-hover: #ff9898;
$placeholder-color: #bfbfc4;
$secondary-button: #efeff9;
$secondary-button-hover: #d8d7f1;

$heading-height: 8rem;
$sidebar-width: 26rem;
