<div class="header">
  <div class="logo-large">
    <span>
      <img src="../../../assets/images/logo-mobile.svg" alt="logo icon" />
    </span>
    <p>Kanban</p>
  </div>
  <div class="header-content">
    <div class="col-1">
      <div class="logo-small">
        <img src="../../../assets/images/logo-mobile.svg" alt="logo icon" />
      </div>
      <div class="column-name" (click)="onShowMenuModal()">
        @if (selectedBoards$ | async; as board) {
        <p>
          {{ board.name }}
        </p>
        }@else {
        <p>No Board Selected</p>

        <span>
          <img
            src="../../../assets/images/icon-chevron-down.svg"
            alt="icon chevron down"
          />
        </span>
        }
      </div>
    </div>
    <div class="col-2">
      <button class="add" (click)="onShowTaskForm()">
        <span class="add-icon-mobile"
          ><img
            src="../../../assets/images/icon-add-task-mobile.svg"
            alt="chevron add"
        /></span>

        <span class="add-icon-large">+Add New Task</span>
      </button>
      <div class="actions">
        <app-actions [actionType]="'board'" (editAction)="openBoardForm()" />
      </div>
    </div>
  </div>
</div>

<app-board-form
  *ngIf="showBoardForm"
  [board]="selectedBoard"
  (close)="closeBoardForm()"
  (hideMenu)="onHideMenuModal()"
/>

<app-task-form *ngIf="showTaskForm">
  @if (showMenuModal) {
  <app-menu-mobile (hideMenu)="onHideMenuModal()" />
  }
</app-task-form>
