<div class="header">
  <div class="logo-large">
    <span>
      <img src="../../../assets/images/logo-mobile.svg" alt="logo icon" />
    </span>
    <p>Kanban</p>
  </div>
  <div class="header-content">
    <div class="col-1">
      <div class="logo-small">
        <img src="../../../assets/images/logo-mobile.svg" alt="logo icon" />
      </div>
      <div class="column-name">
        <p>Platform Launch</p>
        <span>
          <img
            src="../../../assets/images/icon-chevron-down.svg"
            alt="icon chevron down"
          />
        </span>
      </div>
    </div>
    <div class="col-2">
      <button class="add">
        <span class="add-icon-mobile"
          ><img
            src="../../../assets/images/icon-add-task-mobile.svg"
            alt="chevron add"
        /></span>

        <span class="add-icon-large">+Add New Task</span>
      </button>
      <button class="menu">
        <span>
          <img src="../../../assets/images/icon-vertical-ellipsis.svg" alt="" />
        </span>
      </button>
    </div>
  </div>
</div>
