<div *ngIf="selectedBoard$ | async as selectedBoard" class="container">
  <div
    *ngFor="let column of selectedBoard.columns; let i = index"
    class="column-items"
  >
    <div class="top">
      <span
        class="column-color"
        [style.Background]="boardService.color[i]"
      ></span>
      <p>{{ column.name }} ({{ column.tasks.length }})</p>
    </div>

    <ul class="tasks">
      <div *ngFor="let task of column.tasks; let j = index">
        <app-task-item [task]="task"></app-task-item>
      </div>
    </ul>
  </div>
  <button class="add-column" (click)="onCreateNewColumn()">+ New Column</button>
</div>

<app-board-form
  *ngIf="showBoardForm"
  [board]="selectedBoard$ | async"
  (close)="closeBoardForm()"
></app-board-form>
