@use "../../../styleSheet/breakpoints";
@import "../../../styleSheet/mixins";
@import "../../../styleSheet/variables";
@import "../../../styleSheet/typography";

.container {
  @include flex-row(start, start, 2rem);
  overflow: auto;
  padding: 2rem;
  width: 100%;
  height: auto;
  overflow: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  height: calc(100vh - 8rem);

  .column-items {
    width: 28rem;
    @include flex-column(start, start, 2.4rem);
    flex-shrink: 0;

    .tasks {
      width: 100%;
      @include flex-column(start, start, 2rem);
    }
  }

  .add-column {
    @include flex-column(center, center, 2rem);
    width: 28rem;
    height: 81.4rem;
    flex-shrink: 0;
    border-radius: 0.6rem;
    background: var(--new-column-bg);
    border: none;
    margin-top: 4.5rem;
    @extend .x-large;
    color: $medium-grey;

    &:hover {
      color: $main-purple;
    }
  }
}

@include breakpoints.mq(tablet) {
  .container {
    width: 100%;
    overflow: auto;
    // overflow: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    height: calc(100vh - 8rem);
  }
}
