<div class="container" (click)="onHideMenu($event)" *ngIf="hideMenu"></div>

<div class="board-form" (click)="$event.stopPropagation()">
  <h3>{{ board ? "Edit Board" : "Create New Board" }}</h3>

  <form [formGroup]="boardForm" (ngSubmit)="onSubmit()">
    <div class="board-name">
      <label for="name">Board Name</label>
      <input
        type="text"
        name="name"
        formControlName="name"
        placeholder="eg. Web Design"
      />
    </div>

    <div formArrayName="columns" class="board-column">
      <h4>Board Columns</h4>

      <!-- Iterate over the columns and display them -->
      <div
        *ngFor="let column of columns.controls; let i = index"
        class="column"
      >
        <input
          type="text"
          [formControlName]="i"
          [class.marked-for-deletion]="isColumnMarkedForDeletion(i)"
        />
        <button type="button" (click)="removeColumn(i)" class="remove">
          x
        </button>
      </div>

      <button type="button" class="add" (click)="addColumn()">
        + Add New Column
      </button>
    </div>

    <button class="create" type="submit">
      {{ board ? "Save Changes" : "Create New Board" }}
    </button>
  </form>
</div>
