<div class="container">
  <div class="menu" (click)="$event.stopPropagation()">
    <div>
      <p class="boards">ALL BOARDS ({{ totalBoards | async }})</p>
      <div class="all-boards" *ngIf="boards | async as boards">
        @for (board of boards; track $index) {
        <a class="row" (click)="onBoardClicK(board)">
          <span>
            <img
              src="../../../assets/images/icon-board.svg"
              alt="icon board icon"
            />
          </span>
          <p>{{ board.name }}</p>
        </a>
        }

        <div class="row create">
          <img
            src="../../../assets/images/icon-board.svg"
            alt="icon board icon"
          />
          <h3>+ Create New Board</h3>
        </div>
      </div>
    </div>

    <div class="theme">
      <app-theme />
    </div>
  </div>
</div>
