@if (showSidebar){
<div class="container">
  <div class="menu" (click)="$event.stopPropagation()">
    <div>
      <p class="boards">ALL BOARDS ({{ totalBoards | async }})</p>
      <div class="all-boards" *ngIf="boards | async as boards">
        @for (board of boards; track $index) {
        <a class="row" (click)="onBoardClicK(board)">
          <span>
            <img
              src="../../../assets/images/icon-board.svg"
              alt="icon board icon"
            />
          </span>
          <p>{{ board.name }}</p>
        </a>
        }

        <div class="row create">
          <img
            src="../../../assets/images/icon-board.svg"
            alt="icon board icon"
          />
          <h3>+ Create New Board</h3>
        </div>
      </div>
    </div>

    <div class="theme">
      <div class="theme-div">
        <app-theme />
      </div>

      <div class="hide-sidebar" (click)="hideSidebar()">
        <span>
          <svg
            width="18"
            height="16"
            xmlns="http://www.w3.org/2000/svg"
            [attr.d]="currentIconPath"
          >
            <path [attr.d]="currentIconPath" fill="#828FA3" />
          </svg>
        </span>
        <p>Hide SideBar</p>
      </div>
    </div>
  </div>
</div>
} @if (!showSidebar) {
<div class="show-bar" (click)="hideSidebar()">
  <svg width="16" height="11" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M15.815 4.434A9.055 9.055 0 0 0 8 0 9.055 9.055 0 0 0 .185 4.434a1.333 1.333 0 0 0 0 1.354A9.055 9.055 0 0 0 8 10.222c3.33 0 6.25-1.777 7.815-4.434a1.333 1.333 0 0 0 0-1.354ZM8 8.89A3.776 3.776 0 0 1 4.222 5.11 3.776 3.776 0 0 1 8 1.333a3.776 3.776 0 0 1 3.778 3.778A3.776 3.776 0 0 1 8 8.89Zm2.889-3.778a2.889 2.889 0 1 1-5.438-1.36 1.19 1.19 0 1 0 1.19-1.189H6.64a2.889 2.889 0 0 1 4.25 2.549Z"
      fill="#FFF"
    />
  </svg>
</div>
}
