<div class="container">
  <div class="menu">
    <p class="boards">ALL BOARDS (3)</p>
    <div class="all-boards">
      <a href="#" class="row">
        <span>
          <img
            src="../../../assets/images/icon-board.svg"
            alt="icon board icon"
          />
        </span>
        <p>Platform Launch</p>
      </a>
      <a href="#" class="row">
        <span>
          <img
            src="../../../assets/images/icon-board.svg"
            alt="icon board icon"
          />
        </span>
        <p>Platform Launch</p>
      </a>
      <a href="#" class="row">
        <span>
          <img
            src="../../../assets/images/icon-board.svg"
            alt="icon board icon"
          />
        </span>
        <p>Platform Launch</p>
      </a>
      <div class="row create">
        <img
          src="../../../assets/images/icon-board.svg"
          alt="icon board icon"
        />
        <h3>+ Create New Board</h3>
      </div>
    </div>
    <div class="theme">
      <app-theme />
    </div>
  </div>
</div>
